/*
 * file: register.css
 * author: SWH03403
 * date: 2025-10-18
 * description: A style sheet for `register.html`.
 */

#person, #trip {
	float: left;
	width: 40%;
	margin: 10px;
}

.chkbox { clear: left; float: left; }
#bottom { clear: both; }

nav, main { max-width: 60em; }
main { min-width: 20em; }
