/*
 * filename: `/styles/lab04.css`
 * author: SWH03403
 * created: 2025-09-26
 * last_modified: 2025-10-7
 * description: imported by `/lab04.html`
 */

h1 { color: purple; }
h2 { color: teal; }

nav > a {
	padding: .1em .6em;
	color: black;
	border: 3px solid lightgray;
	text-decoration: none;
}
a { color: black; text-decoration-color: black; }
table, th, td { border: 1px solid black; }

.special { color: orange; font-weight: bold; }
.list-square > li { list-style-type: square; }
