/*
 * filename: `/styles/lab04.css`
 * author: SWH03403
 * created: 2025-09-26
 * last_modified: 2025-10-7
 * description: imported by `/lab04.html`
 */

h1 {
	margin: .5em;
	padding: .5em;
	border: 1px solid darkgray;
	background: lightgray;
	color: purple;
	text-align: center;
}
h2 { color: teal; }

nav > a {
	padding: .1em .6em;
	color: black;
	border: 3px solid lightgray;
	text-decoration: none;
}
a { color: black; text-decoration-color: black; }
table, th, td { border: 1px solid black; }

aside {
	margin: 1em;
	padding: 1em;
	float: right;
	width: 30%;
	border: 4px inset purple;
	border-radius: 14px
	font-style: italic;
}

.special { color: orange; font-weight: bold; }
.list-square > li { list-style-type: square; }
